@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    background-image: url(images/mountain-scenery-with-hot-air-balloons-beautiful-sky_387864-4989.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.container {

    width: 100%;
    min-height: 50px;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    height: 70px;
}


.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px black;
    color: rgb(229, 124, 81);
}

::placeholder {
    color: #e7b260;
    font-size: 25px;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background: rgba(245, 172, 96, 0.6);
    cursor: pointer;
}
h1 {
    font-family: 'Lato', sans-serif;
    color:#e7b260;
    text-align: center;
    font-size: 40px;
    text-shadow: 0.5px 0.5px #382c1a ;
}
.infoContainer {
    display:grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px;
}

.infoContainer .col {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px) saturate(180%);
    margin-bottom: 16px;
    padding: 30px;
    height: 200px;
    border-radius: 1%;
    text-align: center;
    align-items: center;

}
.infoContainer .col img {
    width: 40px;
    background: transparent;
}
.infoContainer .col h2 {
    padding: 30px;
    font-size: 40px;
}
.hidden {
    display: none;
    
}


@media screen and (max-width: 700px) {
  .infoContainer {
    display: block;
  }
  
}
